***1. Print the first 5 positive integers in ascending order with one number 
in each line***

In [5]:
for i in range (1,6):
    print ( i)

1
2
3
4
5

In [ ]:
2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [7]:
for i in range (1,6):
    print("*"*i)

*
**
***
****
*****

In [9]:
for i in range (1,6):
    for j in range (i):
        print ("*",end = "")
    print ("")

*
**
***
****
*****

***3. Accept an integer as input and print its square as output.***

In [14]:
Input= int (input("Enter a number : "))
print (f"Square of input value {Input} is :-",Input**2)

Enter a number : 5
Square of input value 5 is :- 25

***4.Accept two integers as input and print their sum as output.***

In [18]:
First_number= int (input("Enter First number : "))
Second_number= int (input("Enter second number : "))
print (f"Sum of input values of {First_number} and {Second_number} is :-",First_number+Second_number)

Enter First number : 13
Enter second number : 15
Sum of input values of 13 and 15 is :- 28

***5. Accept two words as input and print the two words after adding a space between them***

In [25]:
First_word= input("Enter First word : ")
Second_word= input("Enter second word : ")
print(First_word,"___ ",Second_word)

Enter First word : Shailesh
Enter second word : Yadav
Shailesh  ___  Yadav

***6. Accept the registration number of a vehicle as input and print its state-code as output.***

In [34]:
Registration_number = input("Enter the registration number :")
City = Registration_number[:2]
print (f"The name of the city which the vehicle {Registration_number} belongs to : {City}  ")

Enter the registration number :UP14DJ8715
The name of the city which the vehicle UP14DJ8715 belongs to : UP

***7.Accept a five-digit number as input and print the sum of its digits as output.***

In [69]:
NUM = input ("Enter the five digit number : ")
Index = 0
for i in NUM:
    Index = Index + int(i)
print ("Sum of five digit number is : ",Index)

Enter the five digit number : 12345
Sum of five digit number is :  15

In [71]:
Num = input("Enter the five digit number : ")
D1 = int(Num[0])
D2 = int(Num[1])
D3 = int(Num[2])
D4 = int(Num[3])
D5 = int(Num[4])
Sum = D1+D2+D3+D4+D5
print ("Sum of five digit number is : ",Sum)

Enter the five digit number : 12345
Sum of five digit number is :  15

***8.Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.***

In [76]:
W1 = input()
W2 = input()
W3 = input()
W4 = input()
W5 = input()
Sentence =W1+" "+W2+" "+W3+" "+W4+" "+W5+"." 
print(Sentence)

i
write
code
in
inueron
i write code in  inueron.

***9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.***

In [82]:
Date = input("Enter the date in format DD-MM-YYYY : ")
Output = Date[6:10]
print (f"Output is  : {Output}")

Enter the date in format DD-MM-YYYY : 05-01-1994
Output is  : 1994

***10.Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.***

In [86]:
Num1= int(input())
Num2= int(input())
Num3= int(input())
Num4= int(input())
Num5= int(input())
Five_Num =Num1,Num2,Num3,Num4,Num5
print(Five_Num)
Index = 1
for i in Five_Num:
    Index = Index*i
print(Index)

1
2
3
4
5
(1, 2, 3, 4, 5)
120

***11. Accept two positive integers x and y as input. Print the number of digits in x power y***

In [91]:
Integer1 = int(input("Enter the First integer : "))
Integer2 = int(input("Enter the Second integer : "))
Mul_integer = Integer1**Integer2
Len_of_Mul_integer = str(Mul_integer)
print(Len_of_Mul_integer)
print(len(Len_of_Mul_integer))

Enter the First integer : 5
Enter the Second integer : 5
3125
4

***12. Accept a string as input. If the input string is of odd length, then continue with it. If the input string is of even length, make the string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the end of the stringCall this string of odd length word. Select a substring made up of three consecutive characters from word such that there are an equal number of characters to the left and right of this substring. Print this substring as output. You can assume that all input strings will be in lower case and will have a length of at least four***

In [3]:
word = input()
Len = len(word)
if Len%2 == 0:
    if word[Len-1] ==".":
        word = word[:-1]
    else:
        word = word+"."
Len = int((len(word)-1)/2)
print(word[Len-1:Len+2])

shailesh
ile

***13. Accept three positive integers as input and check if they form the sides of a right triangle. Print YES if they form one, and NO is they do not. The input will have three lines, with one integer on each line. The output should be a single line containing one of these two strings: YES or NO.***

In [13]:
X = int(input())
Y = int(input())
Z = int(input())
if ((X**2 == Y**2 + Z**2) or  
    (Y**2 == X**2 + Z**2) or  
    (Z**2 == Y**2 + X**2)) :
    print ("Entered values will form right angled triangle.")
else:
    print ("Entered values will not form right angled triangle.")

3
4
5
Entered values will form right angled triangle.

***14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique positive integer. On one warm Sunday evening, five employees of the company come together for a meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO***

In [17]:
E1 = int (input("Enter the id of first employee : "))
E2 = int (input("Enter the id of Second employee : "))
E3 = int (input("Enter the id of Third employee : "))
E4 = int (input("Enter the id of Fourth employee : "))
E5 = int (input("Enter the id of Fifth employee : "))
if ((E1+E2)%2 ==0 and (E2+E3)%2 ==0 and (E3+E4)%2 ==0 and (E4+E5)%2 ==0 and (E5+E1)%2 ==0): 
    print ("Meeting will continue")
else:
    print ("Meeting will not be held")

Enter the id of first employee : 1
Enter the id of Second employee : 2
Enter the id of Third employee : 3
Enter the id of Fourth employee : 4
Enter the id of Fifth employee : 5
Meeting will not be held

***15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output***

In [29]:
Vowels = ["a","e","i","o","u"]
String = input("Enter the string : ")
New_Str = list(String.lower())
print(New_Str)
Output = []
for i in New_Str:
    if i in Vowels:
        Output.append(i)
print ("Vowels present in string are : ")
print(set(Output))

Enter the string : Shailesh kumar yadav
['s', 'h', 'a', 'i', 'l', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r', ' ', 'y', 'a', 'd', 'a', 'v']
Vowels present in string are :
{'a', 'u', 'e', 'i'}

***16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.***

In [23]:
Name_of_F = input ("Enter the Name of first person : ")
D_O_B_F = input ("Enter the date of birth of first person : ")
Name_of_S = input ("Enter the Name of second person : ")
D_O_B_S = input ("Enter the date of birth of second person : ")
F = print(list(Name_of_F))
S = print(list(Name_of_S))
if (D_O_B_F[-4:] == D_O_B_S[-4:]) and(D_O_B_F[3:5]== D_O_B_S[3:5]) and (D_O_B_F[0:2] == D_O_B_S[0:2]):
    if Name_of_F > Name_of_S:
        print (f"{Name_of_F} is Younger")
    else:
        print (f"{Name_of_S} is Younger")

elif (D_O_B_F[-4:] != D_O_B_S[-4:]):
    if int(D_O_B_F[-4:] > D_O_B_F[-4:]):
        print (f"{Name_of_F} is Younger")
    else : 
        print (f"{Name_of_S} is Younger")

elif (D_O_B_F[3:5] != D_O_B_S[3:5]):
    if int(D_O_B_F[3:5] > D_O_B_S[3:5]):
        print (f"{Name_of_F} is Younger")
    else : 
        print (f"{Name_of_S} is Younger")
    
else:
    if int(D_O_B_F[0:2] > D_O_B_S[0:2]):
        print (f"{Name_of_F} is Younger")
    else : 
        print (f"{Name_of_S} is Younger")

Enter the Name of first person : Anjali
Enter the date of birth of first person : 10-02-1995
Enter the Name of second person : Shailesh
Enter the date of birth of second person : 05-01-1994
['A', 'n', 'j', 'a', 'l', 'i']
['S', 'h', 'a', 'i', 'l', 'e', 's', 'h']
Shailesh is Younger

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [27]:
String = input("Enter the string : ")
if len(String)>8 and len(String)<32 and String[0].isalpha() and '/' not in String and '=' not in String and '\\'not in String and '|'not in String and ' 'not in String:
    print ("True")
    print ("Strong password")
else:
    print ("False")
    print("Not strong password")

Enter the string : 123dbcjsbfjsf
False
Not strong password

***18. Accept a positive integer n as input and print the first n positive integers, one number on each line.***

In [34]:
Positive_Integer = int (input("Enter a number : "))
print ("Positive_Integer in each line are: " )
for i in range (1, Positive_Integer+1):
    print (i)

Enter a number : 10
Positive_Integer in each line are:
1
2
3
4
5
6
7
8
9
10

***19.Accept a positive integer n as input, where n is greater than 1. Print PRIME ifnis a prime number and NOTPRIME otherwise.***

In [68]:
Positive_Integer = int (input("Enter a number : "))
isprime = True
if Positive_Integer == 1:
    isprime =False
else:
    for i in range (2,Positive_Integer):
        if Positive_Integer%i==0:
            isprime = False
if isprime == True:
    print (Positive_Integer," is a prime Number")
else : 
    print (Positive_Integer," is a not prime Number")

Enter a number : 25
25  is a not prime Number

***20. Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case***

In [87]:
First_String = input("Enter first string :  ")
Second_String = input("Enter Second string :  ")
for i in First_String:
    if i in Second_String:
        Second_String = Second_String.replace(i,'')
print (Second_String)

Enter first string :  ram
Enter Second string :  samu
su

***21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.***

In [25]:
Phone_number = int(input("Enter a phone number : "))
New_Phone_number=str(Phone_number)
A = False
len(New_Phone_number)
if len(New_Phone_number) == 10 and int(New_Phone_number[0])>5 and New_Phone_number.isdigit():
    for i in range (10):
        if New_Phone_number.count(New_Phone_number[i]) <8:
            A = True
            if New_Phone_number[i]*6 in New_Phone_number:
                A = False
                break
        else:
            break
if A:
    print("Valid Number")
else:
    print("Invalid Number")

Enter a phone number : 99999999876
Invalid Number

***22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.***

In [38]:
String_1 = input ().split(' ')
print(String_1)
String_2 = input()
if  String_2 not in String_1:
        print ("not present")
elif String_2 in String_1:
    print ("Present")
    No_of_time = String_1.count(String_2)
    print (No_of_time)

i love code in ineuron and code in python
['i', 'love', 'code', 'in', 'ineuron', 'and', 'code', 'in', 'python']
code
Present
2

***23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.***

In [61]:
def Factorial_num(a):
    if a < 0:
         print("-1")
    elif a == 0:
        print("1")
    else :
        F = 1
        for i in range (1,a+1):
            F*=i
        return F
Factorial_num(3)

6

***24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.***

In [10]:
def get_max(L):
    Maxi = L[0]
    for x in L:
        if x > Maxi:
            Maxi = x
    return Maxi

def get_min(L):
    mini = L[0]
    for x in L:
        if x < mini:
            mini = x
    return mini

def get_range(L):
    Maxi = get_max(L)
    mini = get_min(L)
    return Maxi-mini

In [11]:
get_range([2,3,4,5,10])

8

***25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function***

In [12]:
def read_file(file: str):
    with open (file,'r') as f:
        lines = f.read()
        print (lines)

***26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.***

In [14]:
Student_belongs = input("Enter the roll number of student : ")
if (Student_belongs[:2] == "DS") :
    print ("True as student belongs to Data Science")
else:
    print ("False as the student does not belongs to Data Science")

Enter the roll number of student : BR20D1234
False as the student does not belongs to Data Science

***27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.***

In [18]:
Number_plate = input("Enter the number plate of vehicle : ")
if (Number_plate[:4] == "TN07") or  (Number_plate[4:8] == "TN07"):
    print ("True as the number plate belongs to criminal vehicle")
else:
    print ("False as the number plate does not belongs to criminal vehicle")

Enter the number plate of vehicle : BN07UN97
False as the number plate does not belongs to criminal vehicle

***28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.***

In [39]:
String = input("Enter the string : ")
start = int(input("Enter the start index : "))
end = int(input("Enter the end index : "))
substring = String[start:end+1]
Ans = ""
while (len(String)>=len(Ans)): 
    Ans=Ans+substring
print (Ans)

Enter the string : code
Enter the start index : 2
Enter the end index : 3
dedede

***29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.***

In [45]:
Roll_number = int(input("Enter the roll number : "))
for i in range (1,Roll_number+1,4):
    if Roll_number == i:
        print("Sapphire")
for j in range (2,Roll_number+1,4):
    if Roll_number == j:
        print ("Peridot")
for k in range (3,Roll_number+1,4):
    if Roll_number == k:
        print ("Ruby")
for l in range (4,Roll_number+1,4):
    if Roll_number == l:
        print ("Emerald")

Enter the roll number : 74
Peridot

***30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.***

In [51]:
Backlogs = int (input("Enter the number of backlogs : "))
CGPA = float (input("Enter the CGPA : "))
if Backlogs <= 5 and CGPA > 6:
    print ("ABC company has offerd the job")
    Salary = 5*CGPA
else:
    print ("Not offered the job")
    
print (f"Salary is : {Salary}")

Enter the number of backlogs : 4
Enter the CGPA : 7.1
ABC company has offerd the job
Salary is : 35.5

***31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise***

In [54]:
Str = input("Enter the string : ")
if Str == Str[::-1]:
    print ("Palindrome")
else :
    print ("Not a palindrome")

Enter the string : refer
Palindrome

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If a password has atleast one upper case and lower case score increases by one point.
3) If  password has atleast one number and no consecutive number like 12 or 234 the score increases by one point.
4) If password has atleast one special character ( any characterother than numbers and alphabets) then score increases by one point.
5) if password contains user name then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [16]:
def get_password_strength(username,paasword):
    score = 0
    Capital = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    Small = 'abcdefghijklmnopqrstuvwxyg'
    Num = '0123456789'
    C_flag = False
    S_flag = False
    N_flag = False
    NC_flag = True
    if username in paasword :
        print ("PASSWORD SHOULD NOT CONTAIN USERNAME")
        return
    if len(paasword) > 7:
        score = score+1
    for i in range (len(paasword)):
        if paasword[i] in Small:
            S_flag = True
        elif paasword[i] in Capital : 
            C_flag = True
        elif paasword[i] in Num : 
            N_flag = True
        if N_flag:
            if i!= (len(paasword)-1):
                if Num[((Num.index(paasword[i]))+1)]==paasword[i+1]:
                    NC_flag = False
    if C_flag and S_flag:
        score = score+1
    if N_flag and NC_flag:
        score = score+1
    if not paasword.isalnum():
        score = score+1
    if score == 4 :
                        print("Very strong paasword")
                        return
    if score == 3:
                        print("Strong paasword")
                        return
    if score == 2:
                        print("Moderate")
                        return
    if score == 1:
                        print("Weak")
                        return
    if score == 0:
                        print("Use a diffrent paasword")
                        return

In [17]:
get_password_strength("Shailu058","Shailu@135")

Very strong paasword

***33.decorator that logs the date and time***

In [21]:
from datetime import datetime
def log_datetime(func):
    def wrapper():
        print(f'function: {func.__name__} \nRun on{datetime.today().strftime("%Y-%m-%D %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper
@log_datetime
def Daily_backup():
    print("Daily backup job has finished")

In [22]:
Daily_backup()

function: Daily_backup
Run on2023-02-02/23/23 22:25:05
------------------------------
Daily backup job has finished

***34.Program to Get Data Items From a List Appearing Odd Number of Times***

In [37]:
L = list()
N = int(input())
M = list()
for i in range (N):
    Input = int(input("Input = "))
    L.append(Input)
print(f"List : {L}")
for i in L:
    if L.count(i) % 2 !=0:
        M.append(i)
print(f"New list of data : {M}")

5
Input = 1
Input = 5
Input = 5
Input = 6
Input = 7
List : [1, 5, 5, 6, 7]
New list of data : [1, 6, 7]

***35.What are decorators in Python?***

A decorator is a design pattern in Python that allows a user to add new functionality to an existing object without modifying its structure. Decorators are usually called before the definition of a function you want to decorate.

***36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]***

In [54]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] 
i = 0
n = len(number_list)
while i<n:
    if number_list[i]>50:
        del number_list[i]
        n = n-1
    else:
        i = i+1
print(number_list)

[10, 20, 30, 40, 50]

***37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]***

In [61]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
L = []
for i in sample_list:
    if sample_list.count(i)>1:
        L.append(i)
print (list(set(L)))

[20, 60, 30]

In [ ]:
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Duplicates = []
for item,count in collections.counter(sample_list).items():
    if count> 1:
        Duplicates.append(item)
print(Duplicates)

***38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.***

In [75]:
def outer_function(X,Y):
    def inner_function(X,Y):
        return X+Y
    C = inner_function(X,Y)
    return (C)+"Developer"

In [79]:
Z = outer_function("emma","kelly")
print (Z)

emmakellyDeveloper

***39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]***

In [80]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [88]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [90]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [106]:
sum = 0
prev = 0
for i in range(0,10):
    sum = i+prev
    print (f"Current Number {i} Previous Number {prev} Sum :{sum}")
    prev = i

Current Number 0 Previous Number 0 Sum :0
Current Number 1 Previous Number 0 Sum :1
Current Number 2 Previous Number 1 Sum :3
Current Number 3 Previous Number 2 Sum :5
Current Number 4 Previous Number 3 Sum :7
Current Number 5 Previous Number 4 Sum :9
Current Number 6 Previous Number 5 Sum :11
Current Number 7 Previous Number 6 Sum :13
Current Number 8 Previous Number 7 Sum :15
Current Number 9 Previous Number 8 Sum :17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [134]:
Index = 0
Str = input("Enter the string : ")
for i in Str:
    if Index%2 == 0:
        print (list(i))
    Index = Index+1

Enter the string : Shailesh
['S']
['a']
['l']
['s']

In [136]:
Str = input("Enter the string : ")
for i in range (len(Str)):
    if i%2 == 0:
        print(Str[i],end =" ")

Enter the string : Shailesh
S a l s

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [143]:
for i in range (1,11):
    for j in range (1,11):
        print (i*j,end =" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [165]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
New_sample_list = list(set(sample_list))
print(f"New_sample_list : {New_sample_list}")
print(f"Tupled_list : tuple {tuple(New_sample_list)}")
print(f"Min = {min(New_sample_list)}")
print(f"Max = {max(New_sample_list)}")

New_sample_list : [65, 99, 41, 45, 87, 94]
Tupled_list : tuple (65, 99, 41, 45, 87, 94)
Min = 41
Max = 99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [1]:
lambda_function = lambda X : X+15
lambda_function_2 = lambda X,Y : X*Y
print("Value after addition : ",lambda_function(5))
print("Value after multiplication : ",lambda_function_2(10,15))

Value after addition :  20
Value after multiplication :  150

46. Write a Python program to sort a list of tuples using Lambda.

In [25]:
sortedLst = lambda X : sorted(X)
Lst = [("Shailesh",90),("Anjali",95)]
sortedLst(Lst)

[('Anjali', 95), ('Shailesh', 90)]

In [29]:
sortedTup = lambda X : sorted(X)
Lst1 =(10,39,45,21,5,7,9)
sortedTup(Lst1)

[5, 7, 9, 10, 21, 39, 45]

47. Write a Python program to extract year, month, date and time using Lambda.

In [36]:
import datetime
now = datetime.datetime.now()
print(now)
Year = lambda X: X.year
month = lambda Y:Y.month
day= lambda Z : Z.day
time = lambda A: A.time()
print(Year(now))
print(month(now))
print(day(now))
print(time(now))

2023-03-13 22:40:45.749088
2023
3
13
22:40:45.749088

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [47]:
Arr = [2,3,4,5,66,77,22,33,9,7,47,76,32,31]
Even = (list(filter(lambda C: C%2==0,Arr)))
Odd = (list(filter(lambda C: C%2!=0,Arr)))
print("Total Even number are  : ",len(Even))
print("Total Odd number are  : ",len(Odd))
print("List of Even number : ",Even)
print("List of odd number : ",Odd)

Total Even number are  :  6
Total Odd number are  :  8
List of Even number :  [2, 4, 66, 22, 76, 32]
List of odd number :  [3, 5, 77, 33, 9, 7, 47, 31]

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [62]:
Char = ["A","B","c","k","S","u","k","S","u","neha"]
Upper = list(map(lambda D: D.upper(),Char))
Lower= list(map(lambda D: D.lower(),Char))
Dup= set(Char)
print("Upper part : ",Upper)
print("Lower part : ",Lower)
print("Dup part : ",Dup)

Upper part :  ['A', 'B', 'C', 'K', 'S', 'U', 'K', 'S', 'U', 'NEHA']
Lower part :  ['a', 'b', 'c', 'k', 's', 'u', 'k', 's', 'u', 'neha']
Dup part :  {'k', 'S', 'neha', 'A', 'B', 'u', 'c'}

50.  Write a Python program to square the elements of a list using map() function.

In [63]:
def square(l):
    return l**2

In [67]:
L = [4,3,5,2,6,7]

In [70]:
Squaredlst= map(lambda X: X**2,L)
print(list(Squaredlst))

[16, 9, 25, 4, 36, 49]

In [74]:
NewLst = map(square,L)
print(list(NewLst))

[16, 9, 25, 4, 36, 49]